### Final_michael_hernandez

In [1]:
class Vehicle:
    def __init__(self, vmk, vmd, vy, vml):
        self.__make = vmk
        self.__model = vmd
        self.__year = vy
        self.__mileage = vml

    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_year(self):
        return self.__year

    def get_mileage(self):
        return self.__mileage

    def set_make(self, vmk):
        self.__make = vmk

    def set_model(self, vmd):
        self.__model = vmd

    def set_year(self, vy):
        self.__year = vy

    def set_mileage(self, vml):
        self.__mileage = vml

    def __str__(self):
        return "Make: " + self.__make + "; Model: " + self.__model + "; Year of Manufacture: " + str(self.__year) + "; Mileage: " + str(self.__mileage)

In [5]:
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [2]:
class Employee:

    def __init__(self, nm, addr, veh):
        self.__emp_name = nm
        self.__emp_addr = addr
        self.__vehicle = veh

    def get_emp_name(self):
        return self.__emp_name

    def get_emp_addr(self):
        return self.__emp_addr

    def get_vehicle(self):
        return self.__vehicle

    def set_emp_name(self, nm):
        self.__emp_name = nm

    def set_emp_addr(self, addr):
        self.__emp_addr = addr

    def set_vehicle(self, veh):
        self.__vehicle = veh

    def compute_compensation(self):
        pass

    def __str__(self):
        allData = "\nEmployee Name: " + self.__emp_name
        allData += "; Employee Address: " + str(self.__emp_addr)
        allData +=  "\n" + self.__vehicle.__str__()
        return allData

In [7]:
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [3]:
class FullTimeEmployee(Employee):

    def __init__(self, nm, addr, veh, sal):
        Employee.__init__(self, nm, addr, veh)
        self.__salary = sal
        
    def get_salary(self):
        return self.__salary

    def set_salary(self, sal):
        self.__salary = sal

    def compute_compensation(self):
        if self.__salary <= 45000:
            annual_compensation = self.__salary * (1 - 0.18)
        elif self.__salary <= 82000:
            annual_compensation = (self.__salary - 45000) * (1 - 0.28) + 36900
        else:
            annual_compensation = (self.__salary - 82000) * (1 - 0.33) + 63540
        return (annual_compensation/52)
    
    def compute_reimbursement(self, ae):
        self.__annualExpense = ae
        if self.__annualExpense <= 10000:
            total_reimbursement = (self.__annualExpense / 52)
            return total_reimbursement
        else: 
            total_reimbursement = ((10000 + ((self.__annualExpense - 10000)*.5))/52)
            return total_reimbursement
## NEED THIS TO CONTINUE
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Full Time Employee are:" + childData
        childData += "\nSalary: " + '{0:0.2f}'.format(self.__salary)
        return childData

In [409]:
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.
Amy has a weekly compensation of $630.77.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.

In [4]:
class HourlyEmployee(Employee):

    def __init__(self, nm, addr, veh, hw, hr):
        Employee.__init__(self, nm, addr, veh)
        self.__hours_wrkd = hw
        self.__hourly_rate = hr

    def get_hours_worked(self):
        return self.__hours_wrkd

    def get_hourly_rate(self):
        return self.__hourly_rate            

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr

    def compute_compensation(self):
        if self.__hours_wrkd > 40:
            return self.__hourly_rate * 40 + self.__hourly_rate * 1.8 * (self.__hours_wrkd - 40)
        else:
            return self.__hourly_rate * self.__hours_wrkd
    def compute_reimbursement(self, we):
        self.__weeklyExpense = we
        if self.__weeklyExpense <= 100:
            total_reimbursement = self.__weeklyExpense
            return total_reimbursement
        else: 
            total_reimbursement = 100
            return total_reimbursement

    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Hourly Employee are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Hourly Rate: " + str(self.__hourly_rate)
        return childData

In [411]:
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [5]:
class Consultant(Employee):

    def __init__(self, nm, addr, veh, hw, pt):
        Employee.__init__(self, nm, addr, veh)
        self.__hours_wrkd = hw
        self.__project_type = pt

    def get_hours_worked(self):
        return self.__hours_wrkd        

    def get_project_type(self):
        return self.__project_type

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_project_type(self, pt):
        self.__project_type = pt

    def compute_compensation(self):
        if self.__project_type == 1:
            hrly_rate = 55
        elif self.__project_type == 2:
            hrly_rate = 70
        else:
            hrly_rate = 85
        return self.__hours_wrkd * hrly_rate
    def compute_reimbursement(self, we):
        self.__weeklyReimbursement = we
        if self.__project_type == 1:
            total_reimbursement = self.__weeklyReimbursement
            return total_reimbursement
        elif self.__project_type == 2:
            total_reimbursement = (self.__weeklyReimbursement*.90)
            return total_reimbursement
        else:
            total_reimbursement = (self.__weeklyReimbursement*.80)
            return total_reimbursement

    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Consultant are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Project Type: " + str(self.__project_type)
        return childData

In [12]:
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [6]:
class Management(FullTimeEmployee,Consultant):

    def __init__(self, en, addr, veh, sal, hw, pt):
        FullTimeEmployee.__init__(self, en, addr, veh, sal)
        Consultant.__init__(self, en, addr, veh, hw, pt)
        
    def compute_compensation(self):
        emp_comp = FullTimeEmployee.compute_compensation(self)
        cons_comp = Consultant.compute_compensation(self)
        return (emp_comp + cons_comp)
    
    def compute_reimbursement(self, ae, we):
        self.__annualExpense = ae
        self.__weeklyExpense = we
        first_reimbursement = FullTimeEmployee.compute_reimbursement(self,self.__annualExpense )
        second_reimbursement = Consultant.compute_reimbursement(self, self.__weeklyExpense)
        return (first_reimbursement + second_reimbursement)
    
    def __str__(self):
        childData = "\nDetails of this Management are: "
        childData += "\nEmployee Name: " + str(Employee.get_emp_name(self))
        childData += "; Employee Address: " + str(Employee.get_emp_addr(self))
        childData += "\n" + str(Employee.get_vehicle(self))
        childData += "\nHours Worked: " + str(Consultant.get_hours_worked(self))
        childData += "; Project Type: " + str(Consultant.get_project_type(self))
        return childData

In [15]:
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 120000.00; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2561.54.
Jane has a weekly reimbursement of $393.85.

In [7]:
def get_emp_input():
    name = input("Enter Employee Name: ")
    address = input("Enter Address: ")
    return name, address

In [13]:
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter Employee Name: Bob
Enter Address: 350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [8]:
def get_vehicle_input():
    try:
        veh_make = input('Enter the vehicle make: ')
        veh_model = input('Enter the vehicle model: ')

        while True:
            veh_year = int(input("Enter the vehicle year of manufacture (yyyy): "))
            if (veh_year <= 1900 or veh_year >= 2020):
                print("Please enter an integer value for year in the format of yyyy between 1900 and 2020.")
                continue
            elif veh_year <=0:
                raise ValueError("Please enter a positive integer: ")
            else:
                break
        veh_mileage = int(input("Enter vehicle mileage: "))
        if veh_mileage <= 0:
            raise ValueError("Please enter a positive integer: ")
        return (veh_make, veh_model, veh_year, veh_mileage)
    except ValueError:
        print('You need to enter a numeric value')

In [202]:
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the vehicle year of manufacture (yyyy):
2021
Please enter an integer value for year in the format of yyyy between 1900 and 2020.
Enter the vehicle year of manufacture (yyyy):
2019
Enter vehicle mileage:80000
The vehicle entered is a Ford Ranger made in 2019 with 80000 mileage curently.

In [9]:
def get_full_time_input():
    salary = int(input("Please enter annual salary: "))
    return salary

In [21]:
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the annual salary: 80000
The annual salary entered is 80000.00

In [10]:
def get_hourly_input():
    hours_worked = int(input("Please enter hours worked for hourly employee: "))
    hourly_rate = int(input("Please enter hourly rate for hourly employee"))
    return hours_worked, hourly_rate

In [23]:
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the hours worked: 30
Enter the hourly rate: 20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [11]:
def get_consultant_input():
    #type in your code
    hours_worked = input("Please enter hours worked: ")
    project_Type = input("Project Type? (Enter a number between 1 and 3): ")
    return hours_worked, project_Type

In [25]:
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the hours worked: 40
Project Type? (Enter a number between 1 and 3): 2
This consultant works 40 hours per week for type 2 project.

In [12]:
def get_management_input():
    annual_salary = int(input("Enter the annual salary: "))
    hours_worked = int(input("Enter the hours worked: "))
    project_type = int(input("Project Type? (Enter a number between 1 and 3): "))
    return annual_salary, hours_worked, project_type

In [28]:
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary: 100000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [13]:
import pickle
def read_file_data():
    with open('empdata.dat', 'rb') as fb:
        file_list = []
        while (True):
            try:
                file_list.append(pickle.load(fb))

            except FileNotFoundError:
                print("file doesn't exist")
            except EOFError: #code execution will transfer here when the EOF condition is encountered
                break
    return file_list

In [18]:
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database:
Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [34]:
def run_option1():
    while True:
        try:
            sel = int(input("Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)"))
            if sel < 1 or sel > 4:
                print("Please select an option from 1, 2, 3, and 4.")
            else:
                break

        except ValueError:
            print("Please select an option from 1, 2, 3, and 4.")
  
    name, address = get_emp_input()
    
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)
    
    if int(sel) == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle, sal)
        print(an_emp)
    elif sel == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
        print(an_emp)
    elif int(sel) == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
        print(an_emp)
    elif int(sel) ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
        print(an_emp)

    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")     
    return an_emp

In [35]:
#do a quick test on the run_option1() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: 5 (then zzz then 4); David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3;2018;5000;110000;5;2
run_option1()

Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)5
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)zzz
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: david
Enter Address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: bmw
Enter the vehicle model: x3
Enter the vehicle year of manufacture (yyyy): 2018
Enter vehicle mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: david; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: bmw; Model: x3; Year of Manufacture: 2018; Mileage: 5000
Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [39]:
def run_option2(my_lst):
    while True:
        try:
            user_input = int(input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?"))
            if user_input == 1:
                print("\n=====================================================================")        
                print("Below is the information of the all employees stored in the database.")
                print("=====================================================================")
                
                for employee in my_lst:
                    print(employee)
                break
            elif user_input == 2:
                print("\n=========================================================================")        
                print("Below is the information of the first 5 employees stored in the database.")
                print("=========================================================================")
                
                counts = 1
                for employee in my_lst:
                    if counts <=5:
                        print(employee)
                        counts +=1
                break
            else:
                print("Please select 1 or 2")
        except ValueError:
            print("Please select 1 or 2")

In [40]:
run_option2(emp_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?3
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?zzz
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?2

=========================================================================
Below is the information of the first 5 employees stored in the database.
=========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [21]:
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    for emp in my_lst:
        print("{0} has a weekly compensation of ${1:0.2f}".format(emp.get_emp_name(),emp.compute_compensation()))

In [22]:
run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Amy has a weekly compensation of $630.77
Bob has a weekly compensation of $1194.23
Evan has a weekly compensation of $1711.54
Grace has a weekly compensation of $1160.00
James has a weekly compensation of $750.00
Luna has a weekly compensation of $300.00
Michael has a weekly compensation of $2200.00
Tom has a weekly compensation of $3500.00
Zoey has a weekly compensation of $2550.00

In [23]:
def run_option4(my_lst):
    name_input = input("Please enter the name of the employee you want to search: ").lower()
    matching_list = []
    for x in range(0, len(my_lst)):
        if name_input in (my_lst[x].get_emp_name().lower()):
            matching_list.append(my_lst[x])
            print("==========================================================================")
            print("Below is the information of all employees that match the name you entered.")
            print("==========================================================================\n")
            print(my_lst[x])
            break
        else:
            continue
    if len(matching_list) == 0:
        print("There is no employee matching the name you entered")
    return matching_list

In [63]:
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Please enter the name of the employee you want to search: TOM
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [64]:
run_option4(emp_list)

Please enter the name of the employee you want to search: Hongchang
There is no employee matching the name you entered

[]

In [24]:
def run_option5(my_lst):
    import statistics
    print("========================================================")
    print("Below is the statistics of all employees in this database.")
    print("========================================================")
    employee_list = []
    emp_comp_list = []
    veh_list = []

    counts = 0
    for i in range(0, len(my_lst)):
        employee_list.append(my_lst[i].get_emp_name())
        emp_comp_list.append(my_lst[i].compute_compensation())
        veh_list.append(my_lst[i].get_vehicle())
    for i in veh_list:
        if i.get_mileage() > 100000:
            counts +=1

    print("There are {} employees stored in this employee database.".format(len(employee_list)))
    print("The highest weekly compensation is ${0}".format(max(emp_comp_list)))
    print("The mean weekly compensation is {0:0.2f}".format(statistics.mean(emp_comp_list)))
    print("The number of employees who have a vehicle over 100,000 mileage is {0}".format(counts))

In [66]:
run_option5(emp_list)

========================================================
Below is the statistics of all employees in this database.
========================================================
There are 9 employees stored in this employee database.
The highest weekly compensation is $3500
The mean weekly compensation is 1555.17
The number of employees who have a vehicle over 100,000 mileage is 2

In [25]:
def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("Which employee do you want to check (enter a number)?"))
    emp=matched_list[choice-1]
    ae = int(input("What is the annual expense? "))
    annualExpense = emp.compute_reimbursement(ae)
    
    print("\n############################################################")
    print("This employee should have a weekly reimbursement of ${0:0.2f}".format(annualExpense))

In [68]:
run_option6(emp_list)

Please enter the name of the employee you want to search: bob
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00
Which employee do you want to check (enter a number)?1
What is the annual expense? 8000

############################################################
This employee should have a weekly reimbursement of $153.85

In [69]:
run_option6(emp_list)

Please enter the name of the employee you want to search: james
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Which employee do you want to check (enter a number)?1
What is the annual expense? 130

############################################################
This employee should have a weekly reimbursement of $100.00

In [26]:
import sys
def run_option7(my_lst):
    #type in your code
    exit_input = input("You chose to exit the program\nAre you sure (Y/N)? ")
    if exit_input.lower() == "y":
        with open("empdata_updated.dat", "wb") as fb:
            pickle.dump(my_lst, fb)
        sys.exit("\n=================================\nProgram successfully being closed\n=================================")
    elif exit_input.lower() == "n":
        print("\n=================================\nGoing back to the selection menu.\n=================================")
    else:
        print("\nYour input doesn't match any valid option and has been considered as 'N'.\nGoing back to the selection menu.")

In [71]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? b

Your input doesn't match any valid option and has been considered as 'N'.
Going back to the selection menu.

In [72]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? n

=================================
Going back to the selection menu.
=================================

In [73]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)? y

SystemExit:
=================================
Program successfully being closed
=================================

/Users/michahernande/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [28]:
def run_menu_options():
    emp_list = read_file_data()
    
    sel = 1
    while sel <=  7 and sel >= 1:
        print("\n==== Menu ====")
        print("1. To add an employee")
        print("2. To print the name and address of employees")
        print("3. To print the employee name and compensation of all employees")
        print("4. To search for employees by name")
        print("5. To check the basic statistics of employees")
        print("6. To calculate the reimbursement of one employee")
        print("7. To exit program")
        
        try: 
            sel = int(input("Your selection is: "))
            if sel == 1:
                emp_list.append(run_option1())
            elif sel == 2:
                run_option2(emp_list)
            elif sel == 3:
                run_option3(emp_list)
            elif sel == 4:
                run_option4(emp_list)
            elif sel == 5:
                run_option5(emp_list)
            elif sel == 6:
                run_option6(emp_list)
            elif sel == 7:  
                run_option7(emp_list)
            else:
                print("\n=========================================")
                print("\nYou must enter an integer between 1 and 7!")
                print("\n=========================================")
                sel = 1

        except ValueError:
            print("Invalid choice!")

In [29]:
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: David
Enter Address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the vehicle year of manufacture (yyyy): 2018
Enter vehicle mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: Grace
Enter Address: 105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the vehicle year of manufacture (yyyy): 2019
Enter vehicle mileage: 3000
Enter the annual salary: 150000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 1

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: Zoey
Enter Address: 107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the vehicle year of manufacture (yyyy): 2015
Enter vehicle mileage: 35000
Enter the annual salary: 90000
Enter the hours worked: 10
Project Type? (Enter a number between 1 and 3): 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015; Mileage: 35000
Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?1

=====================================================================
Below is the information of the all employees stored in the database.
=====================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy has a weekly compensation of $630.77
Bob has a weekly compensation of $1194.23
Evan has a weekly compensation of $1711.54
Grace has a weekly compensation of $1160.00
James has a weekly compensation of $750.00
Luna has a weekly compensation of $300.00
Michael has a weekly compensation of $2200.00
Tom has a weekly compensation of $3500.00
Zoey has a weekly compensation of $2550.00
David has a weekly compensation of $1932.69
Grace has a weekly compensation of $2538.08
Zoey has a weekly compensation of $2175.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy has a weekly compensation of $630.77
Bob has a weekly compensation of $1194.23
Evan has a weekly compensation of $1711.54
Grace has a weekly compensation of $1160.00
James has a weekly compensation of $750.00
Luna has a weekly compensation of $300.00
Michael has a weekly compensation of $2200.00
Tom has a weekly compensation of $3500.00
Zoey has a weekly compensation of $2550.00
David has a weekly compensation of $1932.69
Grace has a weekly compensation of $2538.08
Zoey has a weekly compensation of $2175.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 4
Please enter the name of the employee you want to search: grace

==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 5
========================================================
Below is the statistics of all employees in this database.
========================================================
There are 12 employees stored in this employee database.
The highest weekly compensation is $3500
The mean weekly compensation is 1720.19
The number of employees who have a vehicle over 100,000 mileage is 2

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 6
Please enter the name of the employee you want to search: ZOEY
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3
Which employee do you want to check (enter a number)?1
What is the annual expense? 120

############################################################
This employee should have a weekly reimbursement of $96.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure (Y/N)? y

SystemExit:
=================================
Program successfully being closed
=================================

/Users/michahernande/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [90]:

run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: David
Invalid choice!

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: David
Enter Address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the vehicle year of manufacture (yyyy): 2018
Enter vehicle mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: Grace
Enter Address: 105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the vehicle year of manufacture (yyyy): 2019
Enter vehicle mileage: 3000
Enter the annual salary: 150000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 1

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter Employee Name: Zoey
Enter Address: 107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the vehicle year of manufacture (yyyy): 2015
Enter vehicle mileage: 35000
Enter the annual salary: 90000
Enter the hours worked: 10
Project Type? (Enter a number between 1 and 3): 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015; Mileage: 35000
Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?1

=====================================================================
Below is the information of the all employees stored in the database.
=====================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy's' weekly compensation is $630.77
Bob's' weekly compensation is $1194.23
Evan's' weekly compensation is $1711.54
Grace's' weekly compensation is $1160.0
James's' weekly compensation is $750
Luna's' weekly compensation is $300
Michael's' weekly compensation is $2200
Tom's' weekly compensation is $3500
Zoey's' weekly compensation is $2550
David's' weekly compensation is $1932.69
Grace's' weekly compensation is $2538.08
Zoey's' weekly compensation is $2175.0

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 4
Please enter the name of the employee you want to search: grace
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program

Your selection is: 5
========================================================
Below is the statistics of all employees in this database.
========================================================
There are 12 employees stored in this employee database.
The highest weekly compensation is $3500
The mean weekly compensation is 1720.19
The number of employees who have a vehicle over 100,000 mileage is 2

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 6
Please enter the name of the employee you want to search: ZOEY
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================


Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3
Which employee do you want to check (enter a number)?1
What is the annual expense? 120

############################################################
This employee should have a weekly reimbursement of $96.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure (Y/N)? y

SystemExit:
=================================
Program successfully being closed
=================================